<web-app>
	<servlet>
		<servlet-name>RegisterConfirmServlet</servlet-name>
		<servlet-class>RegisterConfirmServlet</servlet-class>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>RegisterConfirmServlet</servlet-name>
		<url-pattern>/RegisterConfirmServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	









	
</web-app>
